{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if catagory %}
        {{catagory.description|truncatewords:155}}
    {% else %}
        Welcome To Shop Cart Store Where You can buys Different Items.
    {% endif %}
{% endblock %}
{% block title %}
    {% if catagory %}
        {{catagory.name}}-ShopCart
    {% else %}
        See Our New Collection - ShopCart
    {% endif %}
{% endblock %}
{% block content %}
    {% if catagory %}
        <div>
            <div class="row my_row_class">
                <div class="mx_auto">
                <p><a href="{% url 'shopapp:allprodcat' %}">Our Product Collections</a></p>
            </div>
                </div>
        </div>
    {% endif %}
<div class="mx_auto">
    {% if catagory %}
    <img class="my_image" src="{{catagory.image.url}}" alt="{{catagory.name}}" width="300px" height="300px">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{catagory.name}}</h1>
    <p class="text-justify">{{catagory.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" style="width:100%;">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="300px" height="300px"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>

</div>
{% endblock %}
